section.footer-section {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(27, 31, 48, 1) 53%,
    rgba(34, 40, 51, 1) 79%,
    rgba(37, 44, 53, 1) 100%,
    rgba(32, 67, 80, 1) 100%,
    rgba(28, 84, 101, 1) 100%,
    rgba(254, 254, 254, 1) 100%
  );
  color: white;
}

.icon {
  margin-right: 20px;
  font-size: 1.4rem;
}
ul a {
  color: white;
}
